body {
   text-align:center;
   margin: auto;
   background-color:burlywood;
}

#author-conteiner {
   text-align:center;
}

   .verse {
      text-align: center;
      font-size:medium;
      color:black;
   }
   
   #author-img{
      width: 200px;
   }
